#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 > #backgroundBox {
  position: absolute;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 > #alignmentBox {
  position: relative;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_1 {
  position: absolute;
  width: 1920.0px;
  min-height: 1301.8106444013883px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_1 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #3B5555;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 {
  position: absolute;
  width: 761.0000000000001px;
  min-height: 684.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 70px 70px 70px 70px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 > .borderLayer {
  border-radius: 70px 70px 70px 70px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 > .backgroundLayer {
  border-radius: 70px 70px 70px 70px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_1 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_2 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 {
  position: absolute;
  width: 651.0px;
  height: 72.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 .valign {
  vertical-align: middle;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 {
  position: absolute;
  width: 651.0px;
  height: 72.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 .valign {
  vertical-align: middle;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Input_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_3 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 45.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 45.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Image_2 {
  position: absolute;
  width: 250.49999999999932px;
  height: 116.18936170212734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Image_2 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 {
  position: absolute;
  width: 411.0000000000001px;
  min-height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 > .backgroundLayer {
  border-radius: 39px 39px 39px 39px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 > .borderLayer {
  border-radius: 39px 39px 39px 39px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 > .backgroundLayer {
  border-radius: 39px 39px 39px 39px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 span {
  color: #DBDBDB;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #DBDBDB;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 {
  position: absolute;
  width: 218.0px;
  min-height: 78.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 {
  box-shadow: none;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 > .backgroundLayer {
  border-radius: 39px 39px 39px 39px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #979797;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 > .borderLayer {
  border-radius: 39px 39px 39px 39px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 > .backgroundLayer {
  border-radius: 39px 39px 39px 39px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 span {
  color: #DBDBDB;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #DBDBDB;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 700;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-a7aec9a6-b5cc-4979-8c1e-fffcbd18c663 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
