#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 > #backgroundBox {
  position: absolute;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 > #alignmentBox {
  position: relative;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_2 {
  position: absolute;
  width: 1920.0px;
  min-height: 1473.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_2 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #3B5556;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_2 {
  position: absolute;
  width: 250.49999999999932px;
  height: 116.18936170212734px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_2 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_1 {
  position: absolute;
  width: 735.0px;
  min-height: 104.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_1 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #404040;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Table_1 {
  position: absolute;
  width: 735.0px;
  height: 680.1666666666663px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Table_1 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Table_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_6 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_6 {
  width: 100.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_6 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_6 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_7 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_7 {
  width: 100.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_7 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_7 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_8 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_8 {
  width: 100.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_8 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_8 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_9 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_9 {
  width: 100.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_9 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_9 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_10 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_10 {
  width: 100.0%;
  height: 20.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_10 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_10 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 28.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 {
  position: absolute;
  width: 60.051027935742695px;
  min-height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_3 {
  position: absolute;
  width: 30.02551396787112px;
  height: 24.566329610076764px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_3 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Hotspot_1 {
  position: absolute;
  width: 60.051027935742695px;
  height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 {
  position: absolute;
  width: 60.051027935742695px;
  min-height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_4 {
  position: absolute;
  width: 30.02551396787112px;
  height: 24.566329610076764px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_4 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Hotspot_2 {
  position: absolute;
  width: 60.051027935742695px;
  height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 {
  position: absolute;
  width: 60.051027935742695px;
  min-height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_9 span#rtr-s-Rectangle_9_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_5 {
  position: absolute;
  width: 30.02551396787112px;
  height: 24.566329610076764px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_5 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Hotspot_3 {
  position: absolute;
  width: 60.051027935742695px;
  height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 {
  position: absolute;
  width: 60.051027935742695px;
  min-height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_6 {
  position: absolute;
  width: 30.02551396787112px;
  height: 24.566329610076764px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_6 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Hotspot_4 {
  position: absolute;
  width: 60.051027935742695px;
  height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 {
  position: absolute;
  width: 60.051027935742695px;
  min-height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CBCBCB;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CBCBCB;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CBCBCB;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CBCBCB;
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 > .backgroundLayer {
  border-radius: 3px 3px 3px 3px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Rectangle_11 span#rtr-s-Rectangle_11_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_7 {
  position: absolute;
  width: 30.02551396787112px;
  height: 24.566329610076764px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_7 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Hotspot_5 {
  position: absolute;
  width: 60.051027935742695px;
  height: 56.667916273459014px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Table_2 {
  position: absolute;
  width: 735.0000000000001px;
  height: 479.3333333333336px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Table_2 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Table_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Table_2 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_18 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_18 {
  width: 100.0%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_18 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_18 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_18 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_18 span#rtr-s-Text_cell_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_19 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_19 {
  width: 100.0%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_19 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_19 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_19 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_19 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_19 span#rtr-s-Text_cell_19_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_20 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_20 {
  width: 100.0%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_20 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_20 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_20 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_20 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_20 span#rtr-s-Text_cell_20_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_21 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_21 {
  width: 100.0%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_21 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_21 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_21 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_21 span#rtr-s-Text_cell_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_22 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_22 {
  width: 100.0%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_22 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_22 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_22 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_22 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_22 span#rtr-s-Text_cell_22_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_23 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_23 {
  width: 100.0%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_23 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_23 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_23 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_23 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_23 span#rtr-s-Text_cell_23_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_24 > .clipping {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-right: 1px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_24 {
  width: 100.0%;
  height: 14.0%;
  text-shadow: none;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_24 > .cellContainerChild > .borderLayer {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_24 .content {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 12px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_24 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_24 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Text_cell_24 span#rtr-s-Text_cell_24_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 20.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_28 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_28 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_29 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_29 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_30 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_30 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_46 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_46 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_47 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_47 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_48 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_48 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_49 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_49 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_50 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_50 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_51 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_51 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_31 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_31 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_32 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_32 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_33 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_33 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_52 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_52 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_53 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_53 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_54 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_54 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_55 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_55 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_56 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_56 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_57 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_57 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_34 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_34 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_35 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_35 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_36 {
  position: absolute;
  width: 33.0px;
  height: 28.0px;
  opacity: 0.56;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Image_36 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 {
  position: absolute;
  width: 164.0px;
  min-height: 61.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 {
  box-shadow: none;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 > .backgroundLayer {
  border-radius: 30px 30px 30px 30px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 30px 30px 30px 30px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 > .backgroundLayer {
  border-radius: 30px 30px 30px 30px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-ec8eb13f-f00b-44ef-9026-75fa149f56d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
