#s-f37e3f72-0337-419a-afdf-61155468ed9f > #backgroundBox {
  position: absolute;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f > #alignmentBox {
  position: relative;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_10 {
  position: absolute;
  width: 1920.0000000000005px;
  min-height: 939.7580254841519px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_10 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_10 > .backgroundLayer > .colorLayer {
  background-color: #37442C;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_10 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_1 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_1 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #CBCBCB;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_1 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_11 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_11 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_11 {
  width: 9.999999999999545px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #CBCBCB;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_11 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_11 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_12 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_12 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_12 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_12 {
  width: 9.999999999999545px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #CBCBCB;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_12 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_12 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_5 {
  position: absolute;
  width: 803.0px;
  min-height: 388.95540499205185px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_5 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_5 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_5 span#rtr-s-Paragraph_5_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_5 span#rtr-s-Paragraph_5_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_13 {
  position: absolute;
  width: 1920.0000000000005px;
  min-height: 1080.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_13 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #B6D385;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_13 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_13 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_13 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_13 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_13 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_13 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_13 > .backgroundLayer > .colorLayer {
  background-color: #666666;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_13 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_14 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_14 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_14 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_14 {
  width: 9.999999999999545px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4px;
  stroke: #FFFFFF;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_14 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_14 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_15 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_15 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_15 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_15 {
  width: 9.999999999999545px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4px;
  stroke: #FFFFFF;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_15 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_15 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_15 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_15 span#rtr-s-Ellipse_15_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_16 {
  position: absolute;
  width: 1920.0000000000005px;
  min-height: 987.9303073776994px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_16 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_16 > .backgroundLayer > .colorLayer {
  background-color: #8E9F43;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_16 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_16 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_16 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_16 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_16 {
  width: 10.0px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #CBCBCB;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_16 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_16 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_17 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_17 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_17 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_17 {
  width: 9.999999999999545px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #CBCBCB;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_17 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_17 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_17 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_17 span#rtr-s-Ellipse_17_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_18 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_18 .content {
  text-shadow: none;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_18 {
  position: absolute;
  filter: none;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_18 {
  width: 9.999999999999545px;
  height: 10.0px;
  min-height: 10.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2px;
  stroke: #CBCBCB;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Ellipse_18 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_18 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_18 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_18 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Ellipse_18 span#rtr-s-Ellipse_18_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_6 {
  position: absolute;
  width: 881.0000000000006px;
  min-height: 408.89337722021446px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_6 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_6 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_6 span#rtr-s-Paragraph_6_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_6 span#rtr-s-Paragraph_6_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_7 {
  position: absolute;
  width: 803.0px;
  min-height: 408.8933772202149px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_7 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_7 span {
  color: #EFEFEF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #EFEFEF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_7 span#rtr-s-Paragraph_7_1 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_7 span#rtr-s-Paragraph_7_2 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_7 span#rtr-s-Paragraph_7_3 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Image_6 {
  position: absolute;
  width: 579.9999999999999px;
  height: 762.9017373638906px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Image_6 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Image_7 {
  position: absolute;
  width: 848.0000000000001px;
  height: 683.5633652822152px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Image_7 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_8 {
  position: absolute;
  width: 803.0px;
  min-height: 447.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_8 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_8 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_8 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_8 span#rtr-s-Paragraph_8_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_8 span#rtr-s-Paragraph_8_2 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 36.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Image_8 {
  position: absolute;
  width: 689.0px;
  height: 504.9999999999991px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Image_8 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_1 {
  position: absolute;
  width: 1920.0px;
  min-height: 87.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_1 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Image_1 {
  position: absolute;
  width: 164.49999999999932px;
  height: 58.094680851063686px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 10px;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Image_1 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_17 {
  position: absolute;
  width: 1920.0px;
  min-height: 210.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_17 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_17 > .backgroundLayer > .colorLayer {
  background-color: #345656;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_17 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_12 {
  position: absolute;
  width: 235.1074218750001px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_12 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_12 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_12 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_13 {
  position: absolute;
  width: 473.9765624999999px;
  min-height: 61.428571428571786px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_13 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_13 span {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #B2B2B2;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_14 {
  position: absolute;
  width: 208.775390625px;
  min-height: 132.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_14 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_14 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_14 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_15 {
  position: absolute;
  width: 235.10742187499977px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_15 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_15 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_15 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_15 span#rtr-s-Paragraph_15_1 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_16 {
  position: absolute;
  width: 235.107421875px;
  min-height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_16 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_16 .valign {
  vertical-align: middle;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_16 span {
  color: #DDDDDD;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #DDDDDD;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_17 {
  position: absolute;
  width: 208.775390625px;
  min-height: 101.42857142857179px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_17 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_17 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
  line-height: 22px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Light',Arial;
  font-size: 10.0pt;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Line_3 marker {
  fill: #B2B2B2;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Line_3 {
  position: absolute;
  width: 110.71428571428578px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Line_3 {
  width: 110.71428571428578px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #B2B2B2;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Line_3 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Line_4 marker {
  fill: #B2B2B2;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #shapewrapper-s-Line_4 {
  position: absolute;
  width: 110.71428571428578px;
  height: 1.0px;
  filter: none;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Line_4 {
  width: 110.71428571428578px;
  height: 1.0px;
  stroke-width: 1px;
  stroke: #B2B2B2;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Line_4 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 {
  position: absolute;
  width: 160.0px;
  min-height: 52.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 17px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 {
  box-shadow: none;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 > .backgroundLayer {
  border-radius: 26px 26px 26px 26px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #4C7162;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 > .borderLayer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 26px 26px 26px 26px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 > .backgroundLayer {
  border-radius: 26px 26px 26px 26px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 24.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-f37e3f72-0337-419a-afdf-61155468ed9f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
